/venv
djsc/main/__pycache__/__init__.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
djsc/main/migrations/__pycache__/__init__.cpython-310.pyc
djsc/main/__pycache__/models.cpython-310.pyc
djsc/main/__pycache__/apps.cpython-310.pyc
djsc/main/__pycache__/admin.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
djsc/djsc/__pycache__/settings.cpython-310.pyc
